/*========================すべての内容に適応==========================*/
*{
    margin: 0;
    padding: 0;
}

.container{
/*    コンテンツの幅を指定*/
    width: 600px;
/*    左右均等に合わせてくれる*/
    margin: auto;
    
}

img{
/*    要素を左に回り込ませる*/
    float: left;
/*    左に余白を置く*/
    margin-right: 10px;
}

h1{
/*    要素を左に並べる*/
    float: left;
/*    フォントサイズ*/
    font-size: 15px;
/*    要素の幅*/
    width: 350px;
/*    要素の下の余白*/
    margin-bottom: 5px;
    
}

p{
    /*    要素を左に並べる*/
    float: left;
/*    フォントサイズ*/
    font-size: 12px;
/*    要素の幅*/
    width: 350px;
/*    要素の下の余白*/
    margin-bottom: 5px;
}

/*===================aタグの背景をすべてピンクにする=======================*/
a{
    
/*    背景*/
    background: #f9f9f9;
/*    文字の色*/
    color: #ff4c4c;
/*    文字のサイズ*/
    font-size: 12px;
/*    枠線の太さ　先の種類　線の色*/
    border: 1px solid #ff4c4c;
    
/*    枠線の感覚*/
    padding: 8px;
/*    テキストにつく線の種類*/
    text-decoration: none;
/*    角丸の半径*/
    border-radius: 8px;
    
}

/*====================aタグでマウスが重なったときの動作======================*/
a:hover{
    background: #ff4c4c;
    color: #f9f9f9;
    
/*    ふわっとするアニメーション*/
    transition: 1s;
}