/*aタグの背景をすべてピンクにする*/
a{
    
/*    背景*/
    background: #f9f9f9;
/*    文字の色*/
    color: #ff4c4c;
/*    文字のサイズ*/
    font-size: 12px;
/*    枠線の太さ　先の種類　線の色*/
    border: 1px solid #ff4c4c;
    
/*    枠線の感覚*/
    padding: 8px;
/*    テキストにつく線の種類*/
    text-decoration: none;
/*    角丸の半径*/
    border-radius: 8px;
    
}

/*aタグでマウスが重なったときの動作*/
a:hover{
    background: #ff4c4c;
    color: #f9f9f9;
    transition: 1s;
}